<div class="container">
    <br/>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Template Forms
        </div>
        <br/>
    <div class="panel-body">
        <form #form="ngForm" novalidate (submit)="submitForm()" >
            <div class="form-group" [class.has-error]="firstName.invalid">
          <label class="control-label" for="firstName" >First name </label>  
          <input class="form-control" type="text" placeholder="First Name" name="firstName"  id="firstName" 
          [(ngModel)]="employeeModel.firstName" (ngModelChange)="FirstToUpper($event)"
          #firstName="ngModel" required>
                <div class="alert alert-danger" *ngIf="firstName.invalid">
                    first name is required
                </div>
        </div>
         <!-- <button [class.btn]="true" [class.btn-success]="true" >Submit</button> --> 
        <div class="form-group">
          <label for="lastName">Last Name</label>
            <input class="form-control" type="text" placeholder="Last Name" name="lastName" id="lastName" 
             [(ngModel)]="employeeModel.lastName" minlength="3" #lastName="ngModel"  >
             <div class="alert alert-danger" *ngIf="lastName.invalid">
                min length should be 3 characters
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email Address</label>
              <input class="form-control" type="text" placeholder="Enter email" name="email" 
              id="email" 
               [(ngModel)]="employeeModel.email" 
               pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                #email="ngModel">
               <div class="alert alert-danger"*ngIf="email.invalid">
                  invalid email address
              </div>
          </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
              <input class="form-control" type="text" placeholder="phone number"
               name="phone" id="phone" 
               [(ngModel)]="employeeModel.phone"  pattern="[0-9]{10}"  #phone="ngModel"  >
               <div class="alert alert-danger"*ngIf="phone.invalid">
                  invalid phone number
              </div>
          </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="fullTime"  [(ngModel)]="employeeModel.fullTime">Full Time
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="gender" value="male"  [(ngModel)]="employeeModel.gender">Male
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="gender" value="female"  [(ngModel)]="employeeModel.gender">Female
            </label>
        </div>
        <div class="form-group" [class.has-error]="LanguageValidation">
            <label>Code Languages</label>
            <select class="form-control" name="codeLang"  [(ngModel)]="employeeModel.codeLang"
            (blur)="validateLanguage($event)">
                
                <option selected  value="default">--select--</option>
               <option *ngFor="let lang of languages">
                   {{lang}}
               </option>
            </select>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>


    </div>

    <!-- <h3>Model:{{employeeModel | json}}</h3>
    <h3>Angular:{{form.value | json}}</h3> -->
</div>